.container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  background: inherit;
  font-family: lora;
  row-gap: 1rem;
}
.link {
  width: 100%;
  background-color: black;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}
